l10n_no_payroll/models/amelding_v2_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="urn:ske:fastsetting:innsamling:a-meldingen:v2_1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:ske:fastsetting:innsamling:a-meldingen:v2_1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:element name="melding" type="EDAG_M"/>
	<xsd:complexType name="EDAG_M">
		<xsd:sequence>
			<xsd:element name="Leveranse" type="Leveranse"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Leveranse">
		<xsd:sequence>
			<xsd:element name="leveringstidspunkt" type="DatoTid"/>
			<xsd:element name="kalendermaaned">
				<xsd:simpleType>
					<xsd:restriction base="AArOgMaaned">
						<xsd:minInclusive value="2014-01"/>
						<xsd:maxInclusive value="2099-12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="kildesystem" type="TekstMedRestriksjon"/>
			<xsd:element name="erstatterMeldingsId" type="Identifikator" minOccurs="0"/>
			<xsd:element name="meldingsId" type="Identifikator"/>
			<xsd:element name="opplysningspliktig" type="Opplysningspliktig"/>
			<xsd:element name="oppgave" type="JuridiskEntitet"/>
			<xsd:element name="spraakForTilbakemelding" type="Spraak" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Opplysningspliktig">
		<xsd:sequence>
			<xsd:element name="norskIdentifikator" type="NorskIdentifikator"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="JuridiskEntitet">
		<xsd:sequence>
			<xsd:element name="betalingsinformasjon" type="Betalingsinformasjon" minOccurs="0"/>
			<xsd:element name="betalingsinformasjonForForenkletOrdning" type="BetalingsinformasjonForForenkletOrdning" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="annenBagatellmessigStoette" type="Beloep" minOccurs="0"/>
			<xsd:element name="virksomhet" type="Virksomhet" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Betalingsinformasjon">
		<xsd:sequence>
			<xsd:element name="sumForskuddstrekk" type="BeloepSomHeltall" minOccurs="0"/>
			<xsd:element name="sumArbeidsgiveravgift" type="BeloepSomHeltall" minOccurs="0"/>
			<xsd:element name="sumFinansskattLoenn" type="BeloepSomHeltall" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BetalingsinformasjonForForenkletOrdning">
		<xsd:sequence>
			<xsd:element name="sumForskuddstrekk" type="BeloepSomHeltall" minOccurs="0"/>
			<xsd:element name="sumArbeidsgiveravgift" type="BeloepSomHeltall" minOccurs="0"/>
			<xsd:element name="loennsutbetalingsdato" type="Dato"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Virksomhet">
		<xsd:sequence>
			<xsd:element name="norskIdentifikator" type="NorskIdentifikator"/>
			<xsd:element name="inntektsmottaker" type="Inntektsmottaker" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="arbeidsgiveravgift" type="Arbeidsgiveravgift" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Inntektsmottaker">
		<xsd:sequence>
			<xsd:element name="norskIdentifikator" type="NorskIdentifikator" minOccurs="0"/>
			<xsd:element name="internasjonalIdentifikator" type="InternasjonalIdentifikator" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="identifiserendeInformasjon" type="IdentifiserendeInformasjon" minOccurs="0"/>
			<xsd:element name="arbeidsforhold" type="Arbeidsforhold" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="fradrag" type="Fradrag" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="forskuddstrekk" type="Forskuddstrekk" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="inntekt" type="Inntekt" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="sjoefolksrelatertInformasjon" type="SjoefolksrelatertInformasjon" minOccurs="0"/>
			<xsd:element name="oppholdPaaSvalbardJanMayenOgBilandene" type="OppholdPaaSvalbardJanMayenOgBilandene" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InternasjonalIdentifikator">
		<xsd:sequence>
			<xsd:element name="identifikator" type="TekstMedRestriksjon"/>
			<xsd:element name="identifikatortype" type="InternasjonalIdentifikatortype"/>
			<xsd:element name="land" type="Landkode"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="InternasjonalIdentifikatortype">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="Landkode">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="IdentifiserendeInformasjon">
		<xsd:sequence>
			<xsd:element name="navn" type="TekstMedRestriksjon"/>
			<xsd:element name="foedselsdato" type="Dato"/>
			<xsd:element name="ansattnummer" type="TekstMedRestriksjon" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Arbeidsforhold">
		<xsd:sequence>
			<xsd:element name="arbeidsforholdId" type="Identifikator" minOccurs="0"/>
			<xsd:element name="typeArbeidsforhold" type="Arbeidsforholdstype"/>
			<xsd:element name="startdato" type="Dato" minOccurs="0"/>
			<xsd:element name="sluttdato" type="Dato" minOccurs="0"/>
			<xsd:element name="antallTimerPerUkeSomEnFullStillingTilsvarer" type="Desimaltall" minOccurs="0"/>
			<xsd:element name="avloenningstype" type="Avloenningstype" minOccurs="0"/>
			<xsd:element name="yrke" type="Yrke" minOccurs="0"/>
			<xsd:element name="arbeidstidsordning" type="Arbeidstidsordning" minOccurs="0"/>
			<xsd:element name="stillingsprosent" type="Desimaltall" minOccurs="0"/>
			<xsd:element name="sisteLoennsendringsdato" type="Dato" minOccurs="0"/>
			<xsd:element name="loennsansiennitet" type="Dato" minOccurs="0"/>
			<xsd:element name="loennstrinn" type="TekstMedRestriksjon" minOccurs="0"/>
			<xsd:element name="fartoey" type="Fartoey" minOccurs="0"/>
			<xsd:element name="permisjon" type="Permisjon" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="sisteDatoForStillingsprosentendring" type="Dato" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Arbeidsforholdstype">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="Avloenningstype">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="Yrke">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="Arbeidstidsordning">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="Fartoey">
		<xsd:sequence>
			<xsd:element name="skipsregister" type="Skipsregister"/>
			<xsd:element name="skipstype" type="Skipstype"/>
			<xsd:element name="fartsomraade" type="Fartsomraade"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Skipsregister">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="Skipstype">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="Fartsomraade">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="PermisjonsOgPermitteringsBeskrivelse">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="Permisjon">
		<xsd:sequence>
			<xsd:element name="startdato" type="Dato"/>
			<xsd:element name="sluttdato" type="Dato" minOccurs="0"/>
			<xsd:element name="permisjonsprosent" type="Desimaltall"/>
			<xsd:element name="permisjonId" type="Identifikator"/>
			<xsd:element name="beskrivelse" type="PermisjonsOgPermitteringsBeskrivelse"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Fradrag">
		<xsd:sequence>
			<xsd:element name="beskrivelse" type="Fradragsbeskrivelse"/>
			<xsd:element name="beloep" type="Beloep"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Fradragsbeskrivelse">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="Forskuddstrekk">
		<xsd:sequence>
			<xsd:element name="beskrivelse" type="Forskuddstrekksbeskrivelse" minOccurs="0"/>
			<xsd:element name="beloep" type="BeloepSomHeltall"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Forskuddstrekksbeskrivelse">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="Inntekt">
		<xsd:sequence>
			<xsd:element name="skatteOgAvgiftsregel" type="SkatteOgAvgiftsregel" minOccurs="0"/>
			<xsd:element name="startdatoOpptjeningsperiode" type="Dato" minOccurs="0"/>
			<xsd:element name="sluttdatoOpptjeningsperiode" type="Dato" minOccurs="0"/>
			<xsd:element name="fordel" type="Fordel"/>
			<xsd:element name="utloeserArbeidsgiveravgift" type="Boolsk"/>
			<xsd:element name="inngaarIGrunnlagForTrekk" type="Boolsk"/>
			<xsd:element name="beloep" type="Beloep"/>
			<xsd:element name="arbeidsforholdId" type="Identifikator" minOccurs="0"/>
			<xsd:choice>
				<xsd:element name="loennsinntekt" type="Loennsinntekt"/>
				<xsd:element name="ytelseFraOffentlige" type="YtelseFraOffentlige"/>
				<xsd:element name="pensjonEllerTrygd" type="PensjonEllerTrygd"/>
				<xsd:element name="naeringsinntekt" type="Naeringsinntekt"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="SkatteOgAvgiftsregel">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="Fordel">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="Loennsinntekt">
		<xsd:sequence>
			<xsd:element name="beskrivelse" type="Loennsbeskrivelse"/>
			<xsd:element name="tilleggsinformasjon" type="Tilleggsinformasjon" minOccurs="0"/>
			<xsd:element name="spesifikasjon" type="Spesifikasjon" minOccurs="0"/>
			<xsd:element name="antall" type="Desimaltall" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Loennsbeskrivelse">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="Tilleggsinformasjon">
		<xsd:choice>
			<xsd:element name="bilOgBaat" type="BilOgBaat"/>
			<xsd:element name="dagmammaIEgenBolig" type="DagmammaIEgenBolig"/>
			<xsd:element name="etterbetalingsperiode" type="Periode"/>
			<xsd:element name="inntektPaaNorskKontinentalsokkel" type="NorskKontinentalsokkel"/>
			<xsd:element name="inntjeningsforhold" type="SpesielleInntjeningsforhold"/>
			<xsd:element name="livrente" type="Livrente"/>
			<xsd:element name="lottOgPart" type="LottOgPartInnenFiske"/>
			<xsd:element name="nettoloenn" type="Nettoloennsordning"/>
			<xsd:element name="pensjon" type="AldersUfoereEtterlatteAvtalefestetOgKrigspensjon"/>
			<xsd:element name="reiseKostOgLosji" type="ReiseKostOgLosji"/>
			<xsd:element name="utenlandskArtist" type="UtenlandskArtist"/>
			<xsd:element name="bonusFraForsvaret" type="BonusFraForsvaret"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="Periode">
		<xsd:sequence>
			<xsd:element name="startdato" type="Dato"/>
			<xsd:element name="sluttdato" type="Dato"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BilOgBaat">
		<xsd:sequence>
			<xsd:element name="antallKilometer" type="Desimaltall" minOccurs="0"/>
			<xsd:element name="antallReiser" type="Heltall" minOccurs="0"/>
			<xsd:element name="heravAntallKilometerMellomHjemOgArbeid" type="Desimaltall" minOccurs="0"/>
			<xsd:element name="listeprisForBil" type="Beloep" minOccurs="0"/>
			<xsd:element name="bilregistreringsnummer" type="TekstMedRestriksjon" minOccurs="0"/>
			<xsd:element name="erBilpool" type="Boolsk" minOccurs="0"/>
			<xsd:element name="erAnnenBil" type="Boolsk" minOccurs="0"/>
			<xsd:element name="erBilUtenforStandardregelen" type="Boolsk" minOccurs="0"/>
			<xsd:element name="personklassifiseringAvBilbruker" type="PersontypeForReiseKostLosji" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="PersontypeForReiseKostLosji">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="DagmammaIEgenBolig">
		<xsd:sequence>
			<xsd:element name="antallBarn" type="Heltall"/>
			<xsd:element name="antallMaaneder" type="Heltall"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="NorskKontinentalsokkel">
		<xsd:sequence>
			<xsd:element name="tidsrom" type="Periode" minOccurs="0"/>
			<xsd:element name="gjelderLoennFoerste60Dager" type="Boolsk" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="SpesielleInntjeningsforhold">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="Livrente">
		<xsd:sequence>
			<xsd:element name="totaltUtbetaltBeloep" type="Beloep"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LottOgPartInnenFiske">
		<xsd:sequence>
			<xsd:element name="antallDager" type="Heltall" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Nettoloennsordning">
		<xsd:sequence>
			<xsd:element name="oppgrossingstabellnummer" type="Heltall" minOccurs="0"/>
			<xsd:element name="bilinformasjon" type="BilOgBaat" minOccurs="0"/>
			<xsd:element name="betaltSkattebeloepIUtlandet" type="Beloep" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AldersUfoereEtterlatteAvtalefestetOgKrigspensjon">
		<xsd:sequence>
			<xsd:element name="grunnpensjonsbeloep" type="Beloep" minOccurs="0"/>
			<xsd:element name="tilleggspensjonsbeloep" type="Beloep" minOccurs="0"/>
			<xsd:element name="ufoeregrad" type="Heltall" minOccurs="0"/>
			<xsd:element name="pensjonsgrad" type="Heltall" minOccurs="0"/>
			<xsd:element name="heravEtterlattepensjon" type="Beloep" minOccurs="0"/>
			<xsd:element name="tidsrom" type="Periode" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReiseKostOgLosji">
		<xsd:sequence>
			<xsd:element name="persontype" type="PersontypeForReiseKostLosji" minOccurs="0"/>
			<xsd:element name="antallReiser" type="Heltall" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UtenlandskArtist">
		<xsd:sequence>
			<xsd:element name="inntektsaar" type="AArstall"/>
			<xsd:element name="oppgrossingsgrunnlag" type="Beloep"/>
			<xsd:element name="trukketArtistskatt" type="BeloepSomHeltall"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BonusFraForsvaret">
		<xsd:sequence>
			<xsd:element name="aaretUtbetalingenGjelderFor" type="AArstall" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Spesifikasjon">
		<xsd:sequence>
			<xsd:element name="skattemessigBosattILand" type="Landkode" minOccurs="0"/>
			<xsd:element name="opptjeningsland" type="Landkode" minOccurs="0"/>
			<xsd:element name="erOpptjentPaaHjelpefartoey" type="Boolsk" minOccurs="0"/>
			<xsd:element name="erOpptjentPaaKontinentalsokkel" type="Boolsk" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="YtelseFraOffentlige">
		<xsd:sequence>
			<xsd:element name="beskrivelse" type="YtelseFraOffentligeBeskrivelse"/>
			<xsd:element name="tilleggsinformasjon" type="Tilleggsinformasjon" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="YtelseFraOffentligeBeskrivelse">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="PensjonEllerTrygd">
		<xsd:sequence>
			<xsd:element name="beskrivelse" type="PensjonEllerTrygdebeskrivelse"/>
			<xsd:element name="tilleggsinformasjon" type="Tilleggsinformasjon" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="PensjonEllerTrygdebeskrivelse">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="Naeringsinntekt">
		<xsd:sequence>
			<xsd:element name="beskrivelse" type="Naeringsinntektsbeskrivelse"/>
			<xsd:element name="tilleggsinformasjon" type="Tilleggsinformasjon" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="Naeringsinntektsbeskrivelse">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="OppholdsbeskrivelseForSvalbardJanMayenOgBilandene">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="SjoefolksrelatertInformasjon">
		<xsd:sequence>
			<xsd:element name="antallDoegnOmbord" type="Heltall" minOccurs="0"/>
			<xsd:element name="antallDoegnOmbordUtenDekkedeSmaautgifter" type="Heltall" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OppholdPaaSvalbardJanMayenOgBilandene">
		<xsd:sequence>
			<xsd:element name="oppholdsId" type="Identifikator"/>
			<xsd:element name="startdato" type="Dato"/>
			<xsd:element name="sluttdato" type="Dato" minOccurs="0"/>
			<xsd:element name="beskrivelse" type="OppholdsbeskrivelseForSvalbardJanMayenOgBilandene"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Arbeidsgiveravgift">
		<xsd:sequence>
			<xsd:element name="loennOgGodtgjoerelse" type="Arbeidsgiveravgiftsgrunnlag" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="tilskuddOgPremieTilPensjon" type="Arbeidsgiveravgiftsgrunnlag" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="utenlandskeMedSaerskiltProsentsats" type="UtenlandskeMedSaerskiltProsentsats" minOccurs="0"/>
			<xsd:element name="utenlandskeMedFastAvgiftsbeloep" type="UtenlandskeMedFastAvgiftsbeloep" minOccurs="0"/>
			<xsd:element name="fradragIGrunnlagetForSone" type="FradragIGrunnlaget" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="fradragIGrunnlagetForUtenlandsk" type="FradragIGrunnlagetForUtenlandsk" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Arbeidsgiveravgiftsgrunnlag">
		<xsd:sequence>
			<xsd:element name="beregningskodeForArbeidsgiveravgift" type="BeregningskodeForArbeidsgiveravgift"/>
			<xsd:element name="sone" type="Arbeidsgiveravgiftsone"/>
			<xsd:element name="avgiftsgrunnlagBeloep" type="Beloep"/>
			<xsd:element name="prosentsatsForAvgiftsberegning" type="Grunnlagsprosent"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="BeregningskodeForArbeidsgiveravgift">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="Arbeidsgiveravgiftsone">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="Grunnlagsprosent">
		<xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="GrunnlagsprosentForUtenlandske">
		<xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="GrunnlagsbeloepForUtenlandske">
		<xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>
	<xsd:complexType name="UtenlandskeMedSaerskiltProsentsats">
		<xsd:sequence>
			<xsd:element name="avgiftsgrunnlagBeloep" type="Beloep"/>
			<xsd:element name="prosentsatsForAvgiftsberegning" type="GrunnlagsprosentForUtenlandske"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UtenlandskeMedFastAvgiftsbeloep">
		<xsd:sequence>
			<xsd:element name="antallAvgiftsgrunnlagPersoner" type="Heltall"/>
			<xsd:element name="beloepssatsForAvgiftsberegning" type="GrunnlagsbeloepForUtenlandske"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FradragIGrunnlaget">
		<xsd:sequence>
			<xsd:element name="beregningskodeForArbeidsgiveravgift" type="BeregningskodeForArbeidsgiveravgift"/>
			<xsd:element name="sone" type="Arbeidsgiveravgiftsone"/>
			<xsd:element name="avgiftsfradragBeloep" type="Beloep"/>
			<xsd:element name="prosentsatsForAvgiftsberegning" type="Grunnlagsprosent"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FradragIGrunnlagetForUtenlandsk">
		<xsd:sequence>
			<xsd:element name="avgiftsfradragBeloep" type="Beloep"/>
			<xsd:element name="prosentsatsForAvgiftsberegning" type="GrunnlagsprosentForUtenlandske"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="DatoTid">
		<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>
	<xsd:simpleType name="AArOgMaaned">
		<xsd:restriction base="xsd:gYearMonth"/>
	</xsd:simpleType>
	<xsd:simpleType name="Tekst">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="NorskIdentifikator">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="BeloepSomHeltall">
		<xsd:restriction base="xsd:integer"/>
	</xsd:simpleType>
	<xsd:simpleType name="Beloep">
		<xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="Dato">
		<xsd:restriction base="xsd:date"/>
	</xsd:simpleType>
	<xsd:simpleType name="Desimaltall">
		<xsd:restriction base="xsd:decimal"/>
	</xsd:simpleType>
	<xsd:simpleType name="Boolsk">
		<xsd:restriction base="xsd:boolean"/>
	</xsd:simpleType>
	<xsd:simpleType name="Heltall">
		<xsd:restriction base="xsd:integer"/>
	</xsd:simpleType>
	<xsd:simpleType name="AArstall">
		<xsd:restriction base="xsd:gYear"/>
	</xsd:simpleType>
	<xsd:simpleType name="Spraak">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="bokmaal"/>
			<xsd:enumeration value="nynorsk"/>
			<xsd:enumeration value="engelsk"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TekstMedRestriksjon">
		<xsd:restriction base="RestriksjonTekstfelt"/>
	</xsd:simpleType>
	<xsd:simpleType name="RestriksjonTekstfelt">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Identifikator">
		<xsd:restriction base="RestriksjonIdentifikator"/>
	</xsd:simpleType>
	<xsd:simpleType name="RestriksjonIdentifikator">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="150"/>
			<xsd:pattern value="([0-9a-zA-Z_.-])*"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
